<!-- <p>forms-testing works!</p> -->
<!-- <form [formGroup]="sampleForm">
  <input type="text" class="form-control" placeholder="Enter name" formControlName="name" />
  <input type="text" class="form-control" placeholder="Enter phone" formControlName="phone" />
  <button type="submit" (click) = "submit()">Submit</button>
</form> -->
<div class="container">
<form [formGroup]="sampleForm" class="col-lg-6 mx-auto">
<div class="form-group row">
  <label for="name" class="col-sm-2 col-form-label">name</label>
  <div class="col-lg-12">
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
  </div>
</div>

<div class="form-group row">
  <label for="phone" class="col-sm-2 col-form-label">phone</label>
  <div class="col-lg-12">
    <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Enter your phone number">
  </div>
</div>

<div class="form-group row">
  <div class="col-lg-4 mx-auto">
    <button type="submit" class="form-control btn btn-primary" (click) = "submit()">Submit</button>
  </div>
</div>
</form>
</div>
